<main>
    <img id="nagyLogo" src="../../../assets/kepek/nagyLogo.png" alt="">
    <h1 id="bekoszonto">T3 Bowling Center</h1>
    <h2>Felejthetetlen élény és szórakozás!</h2>
    <button routerLink="../palyafoglalas" (click)="alapAllapot()">
        <a id="foglalas">Foglalás</a>
    </button>
    <div id="araink">
        <h1>Áraink</h1>
        <img class="babu" src="../../../assets/kepek/babuB.png" alt="">
        <img src="../../../assets/kepek/tabla.png" alt="">
        <img class="babu" src="../../../assets/kepek/babuJ.png" alt="">
    </div>
    <div id="programok">
        <h1>Programok</h1>
        <img class="babu" src="../../../assets/kepek/babuB.png" alt="">
        <img src="../../../assets/kepek/program.png" alt="">
        <img class="babu" src="../../../assets/kepek/babuJ.png" alt="">
    </div>
</main>