<main>
    <div id="fent"></div>
    <div id="alapElErhetoseg">
        <h1>Elérhetőségek</h1>
        <div id="vizszint">
            <div class="oszlop">
                <img id="mobil" src="../../../assets/kepek/mobil.png" alt="">
                <p id="mobilSzam">+36 70 000 0000</p>
            </div>
            <div class="oszlop">
                <img id="email" src="../../../assets/kepek/email.png" alt="">
                <p id="emailCim">t3bowlingcenter&#64;gmail.com</p>
            </div>
        </div>
    </div>
    <div id="alapNyitvatartas">
        <h1>Nyitvatartás</h1>
        <div>
            <p>Hétfő - Péntek : 14:00 - 20:00</p>
        </div>
        <div>
            <p>Szombat : 14:00 - 24:00</p>
        </div>
        <div>
            <p>Vasárnap : 10:00 - 20:00</p>
        </div>
    </div>
    <div id="alapTerkep">
        <h1 id="terkepCim">Térkép</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d820.3468974489682!2d20.16528323722633!3d46.244123171535755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1shu!2shu!4v1714123835427!5m2!1shu!2shu"
        width="93%" height="500" style="border:0;" allowfullscreen="" loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</main>