<main>
    <div id="kulsoKeretFent">
        <h1>Galléria</h1>
    </div>
    <div id="keretBelso">
        <div class="doboz">
            <img id="galleriaKep1" (click)="negorgesss()" (click)="nagyitas('galleriaKep1')" src="../../../assets/kepek/galleria/kep01.jpg" alt="">
        </div>
        <div class="doboz">
            <img id="galleriaKep2" (click)="negorgesss()" (click)="nagyitas('galleriaKep2')" src="../../../assets/kepek/galleria/kep02.jpg" alt="">
        </div>
        <div class="doboz">
            <img id="galleriaKep3" (click)="negorgesss()" (click)="nagyitas('galleriaKep3')" src="../../../assets/kepek/galleria/kep03.jpg" alt="">
        </div>
        <div class="doboz">
            <img id="galleriaKep9" (click)="negorgesss()" (click)="nagyitas('galleriaKep9')" src="../../../assets/kepek/galleria/kep04.jpg" alt="">
        </div>
        <div class="doboz">
            <img id="galleriaKep4" (click)="negorgesss()" (click)="nagyitas('galleriaKep4')" src="../../../assets/kepek/galleria/kep05.jpg" alt="">
        </div>
        <div class="doboz">
            <img id="galleriaKep5" (click)="negorgesss()" (click)="nagyitas('galleriaKep5')" src="../../../assets/kepek/galleria/kep06.jpg" alt="">
        </div>
        <div class="doboz">
            <img id="galleriaKep6" (click)="negorgesss()" (click)="nagyitas('galleriaKep6')" src="../../../assets/kepek/galleria/kep07.jpg" alt="">
        </div>
        <div class="doboz">
            <img id="galleriaKep7" (click)="negorgesss()" (click)="nagyitas('galleriaKep7')" src="../../../assets/kepek/galleria/kep08.jpg" alt="">
        </div>
        <div class="doboz">
            <img id="galleriaKep8" (click)="negorgesss()" (click)="nagyitas('galleriaKep8')" src="../../../assets/kepek/galleria/kep09.jpg" alt="">
        </div>
    </div>
    <div id="nagyKepDiv" [ngStyle]="">
        <span (click)="bezaras()" id="bezar">&times;</span> 
        <img alt="nagyitottKep" id="nagyKep">
        <div id="index"> </div>
        <span id="nagyBal"  (click)="nagyLapozas(true)">&#8249;</span> 
        <span id="nagyJobb" (click)="nagyLapozas(false)">&#8250;</span>
    </div>
</main>